body {
    margin: 0;
}

p {
    font-family: 'PT Serif', Georgia, serif;
    font-size: 16pt;
    line-height: 1.2em;
    color: rgb(76 ,76, 76);
    margin: 0;
    text-align: left;
    padding: 10px;
    -webkit-font-smoothing: antialiased;
}

h3 {
    font: bold 27pt sans-serif;
}

h1 {
    color: white;
    font: bold 34pt sans-serif;
    margin: 0;
    text-align: center;
}

h2 {
    color: rgb(20,20,20);
    font: bold 31pt sans-serif;
    margin: 0;
}

body a {
    color: #168dd9;
    font-style: normal;
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

body a:visited {
    color: #168dd9;
    text-decoration: none;
}


.background {
    background-position: center center;
    background-size: cover;
    position: relative;
}

.background span {
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

.background.header {
    height: 300px;
}

.background.button {
    height: 200px;
}

#start {
    background-image: url("/images/start.jpg");
}

#geschichte {
    background-image: url("/images/geschichte.jpg");
}

#dienstgrade {
    background-image: url("/images/dienstgrade.jpg");
}



.background.button span {
    display: block;
    height: 100%;
    width: 100%;
    opacity: 1;
    background: rgba(0,0,0,0.6);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.background.button:hover span {
    background: rgba(0,0,0,0.4);
}


.pageHeading {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.subPageHeading {
    position: absolute;
    bottom: 10px;
    margin-top: auto;
    width: 100%;
}

.subPageHeading h3 {
    font-size: 16pt;
    text-align: center;
    color: rgb(170, 170, 170);
}

.subPageHeading h1 {
    font-size: 28pt;
}

.borderedContainer{
    padding-top: 4px;
    padding-bottom: 4px;
    border-style: solid none solid none;
    border-width: 1px;
    border-color: rgb(150,150,150);
}

.article {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto 35px auto;
    max-width: 860px;
}

.metaInfos {
    order: 1;
    width: 100%;
}

.metaInfos p {
    font-size: 10pt;
    color: rgb(120,120,120);
    margin: 0;
    text-align: left;
}

.textBlock {
    order: 0;
    width: 100%;
    font-size: 15pt;
    color: rgb(20,20,20);
    margin: 0;
    text-align: left;
}

.photoTextBlock {
    display: flex;
    flex-wrap: wrap;
    max-width: 990px;
}

.photoTextBlock p {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
}

.photoTextBlock img {
    margin: 10px auto 10px auto;
}

.video-container {
    position:relative;
    padding-bottom:75%;
    padding-top:30px;
    height:0;
    max-width:640px;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    width:95%;
    height:95%;
    padding-left:10px;
    padding-right:10px;
}

@media screen and (min-width: 1200px) {
    .header {
        height: 470px;
    }
    h1 {
        font: bold 38pt sans-serif;
    }
    p {
        font-size: 18pt;
        line-height: 1.25em;
    }
}

@media screen and (min-width: 860px) {
    .textBlock {
        order: 1;
        width: 75%;
    }
    .metaInfos {
        order: 0;
        width: 20%;
    }
    .metaInfos p {
        text-align: right;
    }
}