body {
    margin: 0;
}

p {
    font-family: 'PT Serif', Georgia, serif;
    font-size: 16pt;
    line-height: 1.2em;
    color: rgb(76 ,76, 76);
    margin: 0;
    text-align: left;
    padding: 10px;
    -webkit-font-smoothing: antialiased;
}

b {
    color: rgb(60 ,60, 60);
}

h1 {
    font: bold 1.5em sans-serif;
    margin: 0;
    text-align: center;
}

h2 {
    color: rgb(60, 60, 60);
    font: bold 1.3em sans-serif;
    margin: 0;
    padding: 10px;
}

h3 {
    font: bold 1.1em sans-serif;
    text-align: left;
}


.pageHeading h1 {
    color: rgb(230, 230, 230);
}

body a, body a:visited{
    color: #168dd9;
}

.subPageHeading h3 {
    color: rgb(230, 230, 230);
}

body a {
    font-style: normal;
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

body a:visited {
    text-decoration: none;
}

.headingContainer {
    margin: 0 auto 0 auto;
}

.background {
    background-position: center center;
    background-size: cover;
    position: relative;
}

.background span {
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.header .background span {
    margin-top: 9px;
}

.background.header {
    height: 200px;
}

.background.button {
    height: 200px;
    margin-bottom: 10px;
}

.header.button {
    height: 28px;
}

.header.button h1 {
    color: rgb(60 ,60, 60);
    font-size: 1.5em;
    text-align: center;
    margin: 10px 0 10px 0;
}

#start {
    background-image: url("/images/bannerImages/start.jpg?sheight=300&cheight=200&cwidth=500");
}

#geschichte {
    background-image: url("/images/bannerImages/geschichte.jpg?sheight=300&cheight=200&cwidth=500");
}

#dienstgrade {
    background-image: url("/images/bannerImages/dienstgrade.jpg?sheight=300&cheight=200&cwidth=500");
}

#ablauf {
    background-image: url("/images/bannerImages/ablauf.jpg?sheight=300&cheight=200&cwidth=500");
}

.imageInArticle {
    width: 100%;
    max-width: 645px;
    margin-top: 20px;
    margin-bottom: 10px;
}



.background.button .overlay {
    display: block;
    width: 100%;
    opacity: 1;
    background: rgba(0,0,0,0.6);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    padding-top: 30px;
    height: 170px;
}

.background.button:hover .overlay {
    background: rgba(0,0,0,0.4);
}


.pageHeading {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.background.button h3 {
    font-size: 16pt;
    text-align: center;
    color: rgb(200, 200, 200);
}

.background.button h1 {
    font-size: 28pt;
}

.placeholder {
    height: 30px;
}

.borderedContainer{
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: rgb(150,150,150);
}

.borderedContainer:last-of-type {
    border-style: none;
}

.article {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto 20px auto;
    max-width: 860px;
}

.metaInfos {
    order: 1;
    width: 100%;
}

.metaInfos p, .caption p {
    font-size: 10pt;
    color: rgb(140, 140, 140);
    margin: 0;
    text-align: left;
    padding: 1px 15px 15px 10px;
    line-height: 1.4em;
}

.textBlock {
    order: 0;
    width: 100%;
    font-size: 15pt;
    color: rgb(20,20,20);
    margin: 0;
    text-align: left;
}

.photoTextBlock, .landscapePhotoTextBlock {
    max-width: 990px;
}

.photoTextBlock, .photoTextBlock img, .photoTextBlock .caption, .landscapePhotoTextBlock,
.landscapePhotoTextBlock img, .landscapePhotoTextBlock .caption
{
    display: flex;
    flex-wrap: wrap;
}

.photoTextBlock p {
    max-width: 550px;
}

.photoTextBlock img {
    margin: 10px auto 10px auto;
}

.landscapePhotoTextBlock .caption {
    max-width: 800px;
}

.landscapePhotoTextBlock img {
    margin: 10px;
}

.portraitPhotoBlock {
    margin: 0 auto 0 auto;
    max-width: 270px;
}

.video-container {
    position:relative;
    padding-top: 30px;
    margin-bottom: 10px;
    max-width:640px;
    overflow:hidden;
}

#video-1976 {
    padding-bottom: 70%;
}

#video-2015 {
    padding-bottom: 51.2%;
}

#video-2015-thumbnail, #video-1976-thumbnail {
    display: block;
    width: 95%;
    cursor: pointer;
    max-width: 620px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}


.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    width:95%;
    height:95%;
    padding-left:10px;
    padding-right:10px;
}

.footer {
    text-align: center;
    margin: 0 auto 0 auto;
}

.footer a {
    margin: 0 20px 0 20px;
}

.fa:before {
    display: inline-block;
}

.cation .fa:before {
    padding-right: 0.5em;
}

@media screen and (min-width: 1200px) {
    .header {
        height: 470px;
    }
    h1 {
        font: bold 38pt sans-serif;
    }
    p {
        font-size: 18pt;
        line-height: 1.25em;
    }
}

@media screen and (min-width: 860px) {
    .textBlock {
        order: 1;
        width: 75%;
    }
    .metaInfos {
        order: 0;
        width: 20%;
    }
    .metaInfos p {
        text-align: right;
        padding: 14px;
    }

    .photoTextBlock img {
        margin: 10px;
    }

    .photoTextBlock .caption {
        max-width: 250px;
    }
}
@media (min-width: 500px) and (max-width: 1000px) {
    #start {
        background-image: url("/images/bannerImages/start.jpg?cwidth=1100&sheight=300");
    }
    #geschichte {
        background-image: url("/images/bannerImages/geschichte.jpg?cwidth=1100&sheight=300");
    }

    #dienstgrade {
        background-image: url("/images/bannerImages/dienstgrade.jpg?cwidth=1100&sheight=300");
    }

    #ablauf {
        background-image: url("/images/bannerImages/ablauf.jpg?cwidth=1100&sheight=300");
    }
    .background.header {
        height: 300px;
    }
}
@media (min-width: 1000px) and (max-width: 1500px) {
    #start {
        background-image: url("/images/bannerImages/start.jpg?cwidth=1500&sheight=450");
    }
    #geschichte {
        background-image: url("/images/bannerImages/geschichte.jpg?cwidth=1500&sheight=450");
    }

    #dienstgrade {
        background-image: url("/images/bannerImages/dienstgrade.jpg?cwidth=1500&sheight=450");
    }

    #ablauf {
        background-image: url("/images/bannerImages/ablauf.jpg?cwidth=1500&sheight=450");
    }
    .background.header {
        height: 450px;
    }
}

@media (min-width: 1500px) {
    #start {
        background-image: url("/images/bannerImages/start.jpg");
    }
    #geschichte {
        background-image: url("/images/bannerImages/geschichte.jpg");
    }

    #dienstgrade {
        background-image: url("/images/bannerImages/dienstgrade.jpg");
    }

    #ablauf {
        background-image: url("/images/bannerImages/ablauf.jpg");
    }
    .background.header {
        height: 450px;
    }
}